.diagnosis-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 600px; /* 최대 너비 설정 */
    margin: auto; /* 가운데 정렬 */
  }
  